<!DOCTYPE html>
<html>
<head>
  <title>PassServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

<footer class="bs-docs-footer" role="contentinfo">
  <div class="container text-center">
    <p>v0.0.1 T 专属</p>
  </div>
</footer>
</body>
</html>
